/* SIMPLE BUTTONS */

.button, .button.primary {
    box-sizing: content-box;
    text-decoration: none;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: cornflowerblue;
    background-color: transparent;
}

.button, .button.primary:hover {
    color: whitesmoke;
    background-color: cornflowerblue;
}

/* OUTLINE BUTTONS */

.outline-button.primary {
    color: cornflowerblue !important;
    background-color: transparent;
    border: 1px solid cornflowerblue !important;
}

.outline-button.primary:hover {
    background-color: cornflowerblue !important;
    color: white !important;
}