/* OTHERS */

/* -- LINKS */

.link {
    text-decoration: none;
    color: slateblue;
}

/* -- DIVIDERS */

.divider {
    border: none;
    height: 5px;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 5px,
            #465298 2px,
            #465298 10px
    );
}

.divider-large {
    height: 8px !important;
}