/* SIMPLE CARD */

.card {
    background: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: black 1px 1px 1px;
}

.card .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.card .header h1 {
    margin: 0 10px 0 0;
}

.card .header span {
    display: inline-flex;
    align-items: flex-end;
}

.card .content {
    display: flex;
    font-size: 1.25em;
    flex-wrap: wrap;
}

.card .content img {
    width: 275px;
    height: 175px;
}

.card .content .text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

/* MACOS TERMINAL CARD */

.terminal {
    border-radius: 20px;
    box-shadow: rgba(25, 11, 57, 0.25) 0 25px 60px;
    background-color: midnightblue;
    min-height: 100px;
}

.terminal .terminal-header-button {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.terminal .terminal-content {
    padding: 15px;
}

.terminal .terminal-content .command {
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    margin-bottom: 8px;
}

.terminal .command.input {
    margin-bottom: 30px !important;
}

.terminal .command.base, .command .base {
    color: lawngreen !important;
}

.terminal .command-result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}