/* MARGIN */

/* -- SMALL */

.mt-s {
    margin-top: 5px !important;
}
.mb-s {
    margin-bottom: 5px !important;
}
.mr-s {
    margin-right: 5px !important;
}
.ml-s {
    margin-left: 5px !important;
}

/* -- SMALL/MEDIUM */

.mt-sm {
    margin-top: 10px !important;
}
.mb-sm {
    margin-bottom: 10px !important;
}
.mr-sm {
    margin-right: 10px !important;
}
.ml-sm {
    margin-left: 10px !important;
}

/* -- MEDIUM */

.mt-m {
    margin-top: 20px !important;
}
.mb-m {
    margin-bottom: 20px !important;
}
.mr-m {
    margin-right: 20px !important;
}
.ml-m {
    margin-left: 20px !important;
}

/* -- LARGE */

.mt-l {
    margin-top: 50px !important;
}
.mb-l {
    margin-bottom: 50px !important;
}
.mr-l {
    margin-right: 50px !important;
}
.ml-l {
    margin-left: 50px !important;
}

/* -- XLARGE */

.mt-xl {
    margin-top: 80px !important;
}
.mb-xl {
    margin-bottom: 80px !important;
}
.mr-xl {
    margin-right: 80px !important;
}
.ml-xl {
    margin-left: 80px !important;
}

/* PADDING */

/* -- SMALL */

.pt-s {
    padding-top: 5px !important;
}
.pb-s {
    padding-bottom: 5px !important;
}
.pr-s {
    padding-right: 5px !important;
}
.pl-s {
    padding-left: 5px !important;
}

/* -- SMALL/MEDIUM */

.pt-m {
    padding-top: 10px !important;
}
.pb-m {
    padding-bottom: 10px !important;
}
.pr-m {
    padding-right: 10px !important;
}
.pl-m {
    padding-left: 10px !important;
}

/* -- MEDIUM */

.pt-m {
    padding-top: 20px !important;
}
.pb-m {
    padding-bottom: 20px !important;
}
.pr-m {
    padding-right: 20px !important;
}
.pl-m {
    padding-left: 20px !important;
}

/* -- LARGE */

.pt-l {
    padding-top: 50px !important;
}
.pb-l {
    padding-bottom: 50px !important;
}
.pr-l {
    padding-right: 50px !important;
}
.pl-l {
    padding-left: 50px !important;
}

/* -- XLARGE */

.pt-xl {
    padding-top: 80px !important;
}
.pb-xl {
    padding-bottom: 80px !important;
}
.pr-xl {
    padding-right: 80px !important;
}
.pl-xl {
    padding-left: 80px !important;
}