/* NAVIGATION */

/* --- NAVBAR */

.navbar {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    color: gray;
    padding: 10px;
    height: 62px;
    line-height: 62px;
    font-size: 20px;
    display: inline-flex;
    justify-content: left;
}

.navbar .icon {
    margin-right: 10px;
    width: 55px;
    height: 55px;
}

.navbar .links {
    list-style: none;
    margin: 0;
    align-self: end;
    justify-content: end;
}

.navbar .links li {
    float: left;
    margin: 0 5px;
}

.navbar .brand {
    font-weight: bold;
    color: slateblue;
    vertical-align: center;
    text-transform: uppercase;
}