@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html, body {
    font-family: 'Dosis', sans-serif;
    background-color: ghostwhite;
}

footer {
    width: 100vw !important;
    overflow: hidden;
}

footer svg {
    width: 101vw !important;
    float: left;
}

footer .content {
    width: 100% !important;
    background: #6A5ACD;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.right {
    float: right;
}

.navbar .brand {
    font-family: 'Krona One', serif;
}

.navbar .brand span {
    color: cornflowerblue;
}

.emoji-list {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.description {
    font-family: -apple-system, sans-serif;
    font-size: 1.25em;
    color: #1B3B59;
    padding: 0 12px;
    line-height: 1.7em;
}

.follow {
    font-family: -apple-system, sans-serif;
    float: right;
    text-transform: uppercase;
}

.profile-picture {
    border-radius: 100%;
    /* border: 1px solid whitesmoke; */
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.3);
}

.legal-notes {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
}

.tag {
    font-size: 15px;
}

.social-network {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px !important;
    border: 1px solid rgba(210, 210, 210, 0.3);
    border-radius: 30px;
    box-shadow: -2px -2px 20px rgba(30,30,30,0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.social-network .ml-s {
    margin-left: 2px !important;
}

.social-network .mr-s {
    margin-right: 2px !important;
}
